/* style.css */
/* * {
  margin: 0;
  padding: 0;
} */

body {
  /* background-color: rgb(222, 75, 75); */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
}

h1 {
  font-size: 50px;
  /* color: white; */
  margin-bottom: 20px;
  /* font-family: "Courier New", Courier, monospace; */
}

#maze-container {
  border: 10px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  border-radius: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: white;
}

.wall {
  background-color: black;
}

#beaver {
  position: absolute;
  z-index: 1;
}

#cog {
  position: absolute;
  /* bottom: 0;
  right: 0; */
}
