/* style.css */
/* * {
  margin: 0;
  padding: 0;
} */
:root {
  --primary: rgb(163, 31, 52);
  --primary--dim: rgba(163, 31, 53, 0.599);
  --darkgrey: rgb(138, 139, 140);
  --engineers--red: #B20D35;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  /* background-color: rgb(222, 75, 75); */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
}

h1 {
  font-size: 50px;
  /* color: white; */
  margin-bottom: 20px;
  /* font-family: "Courier New", Courier, monospace; */
}

h2 {
    color: var(--engineers--red);
    text-shadow: -1px -1px 0 var(--darkgrey), 1px -1px 0 var(--darkgrey),
                -1px 1px 0 var(--darkgrey), 1px 1px 0 var(--darkgrey);
}

#maze-container {
  border: 10px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  border-radius: 10px;
}

#maze-accessories {}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: white;
}

.wall {
  background-color: black;
}

#beaver {
  position: absolute;
  z-index: 1;
}

#cog {
  position: absolute;
  /* bottom: 0;
  right: 0; */
}
#door1, #door2, #door3, #door4, #door10 {
    position: absolute;
}
#lobby7, #lobby10 {
    position: absolute;
}
#killian, #duPont, #lowell {
    position: absolute;
}
#bldg5, #bldg3, #bldg1, #bldg6, #bldg4, #bldg2 {
    position: absolute;
}
#uac, #dmse, #barker {
    position: absolute;
    color: var(--engineers--red);
}
