@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

.Navbar-container {
    padding: var(--s) var(--m);
    /* background-color: var(--primary); */
}
.Navbar-title {
    color: var(--white);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.Navbar-links {
    color: var(--white);
    font-size: 20px;
}
