:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

.Navbar-container {
    padding: var(--s) var(--m);
    background-color: var(--primary);
}
.Navbar-title {
    color: var(--white);
    font-size: 20px;
}
.Navbar-links {
    color: var(--white);
    font-size: 20px;
}
