@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J+Guides:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
} */

.Navbar-container {
    padding: var(--s) var(--m);
    background-color: var(--primary--dim);
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: normal;
    flex-direction: column-reverse;
}
.Navbar-title {
    color: var(--white);
    font-size: 20px;

}
.Navbar-links {
    color: var(--white);
    font-size: 20px;
    text-align: center;
}
/* .Navbar-links:link {
    color: var(--white);
}
a:link {
    color:var(--white);
} */
